@model ProductVM

@inject IHttpContextAccessor HttpContextAccessor
@{ 
    bool isInBag = false;
    var lstCart = HttpContextAccessor.HttpContext.Session.Get<List<int>>(SessionHelper.ShoppingCart);
    if (lstCart != null && lstCart.Contains(Model.Id))
        isInBag = true;

    var route = isInBag ? "/Remove/{0}" : "/Add/{0}";
    route = string.Format(route, Model.Id);
}

<h2 class="text-info">Product Details</h2>

<form action="@route" method="post">

    <div class="p-4 border rounded row">
        <div class="col-8">

            <div class="form-group row">
                <div class="col-3">
                    <label>Product name</label>
                </div>
                <div class="col-9">
                    @Html.TextArea("Name", Model.Name, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label>Price (Lei)</label>
                </div>
                <div class="col-4">
                    <input asp-for="Price" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label>Product Type </label>
                </div>
                <div class="col-4">
                    @Html.DropDownList("ProductTypeId", new SelectList(Model.ProductTypes, "Id", "Name", Model.ProductTypeId), new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                <label>Product Brand</label>
            </div>
                <div class="col-4">
                    @Html.DropDownList("ProductBrandId", new SelectList(Model.ProductBrands, "Id", "Name", Model.ProductBrandId), new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>


            <div class="form-group row">
                <div class="col-3">
                    <label>Description</label>
                </div>
                <div class="col-9">
                    @Html.TextArea("Description", Model.Description, new { @class = "form-control", @readonly = "readonly", @rows = 6})
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="col-9">
                    @if (isInBag)
                    {
        <button type="submit" value="Remove from bag" class="btn btn-danger form-control">Remove from Bag</button> }
    else
    {
        <button type="submit" value="Add to bag" class="btn btn-primary form-control">Add to Bag</button>}
                </div>
            </div>

        </div>

        <div class=" col-1">

        </div>

        <div class="col-3">
            <img src="~/@Model.ImagePath" alt="no image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
        </div>
    </div>

    <br/>

    <div class="form-group"> 
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </div>

</form>